@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes moveInFromBelow {
    0%   { transform: translate3d(0, 50px, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}