body {
    background: #000 url("/assets/img/wotlk_bg.jpg") no-repeat center top;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.clickable {
    cursor: pointer;
}

label {
    display: block;
}

a {
    color: #08f;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.clearfix {
    @include clearfix();
}

.fl { float: left; }
.fr { float: right; }

.material-icons {
    font-size: inherit;
    vertical-align: middle;

    &.flip-v {
        transform: rotateX(180deg);
    }
}

.graph.buffs canvas {
    height: 200px;
}

.sort-link {
    cursor: pointer;

    .material-icons {
        font-size: 18px;
        color: #888;
    }

    &.active {
        .material-icons {
            color: #08f;
        }
    }
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    background: #08f;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    white-space: nowrap;
    transition: opacity 0.2s ease, background 0.2s ease;
    text-align: center;

    &:hover {
        background: #05b;
        color: #fff;
    }

    &.block {
        display: block;
    }

    &.large {
        padding: 10px 20px;
        font-size: 18px;
    }

    &.danger {
        background: #800;

        &:hover {
            background: #f00;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.text-error {
    color: #f00;
}

.btn-text {
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    transition: opacity 0.2s ease, background 0.2s ease;

    &:hover,
    &.active {
        background: #05b;
    }
}

.help {
    display: inline-block;

    .material-icons {
        color: #08f;
    }
}

input[type="text"],
input[type="number"],
textarea,
select {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    background: rgba(255,255,255,0.1);
    padding: 4px 8px;
    display: block;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

fieldset {
    padding: 5px 20px 20px;
    border: 0;
    background: rgba(10,10,20,0.6);

    legend {
        font-weight: 700;
        color: #08f;
    }
}

.form-item {
    &:nth-child(n+2) {
        margin-top: 10px;
    }

    input ~ span {
        color: #aaa;
        user-select: none;
    }

    input:checked ~ span {
        color: #fff;
    }

    input:disabled ~ span {
        color: #888;
        pointer-events: none;
    }
}

.form-row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));

    &:nth-child(n+2) {
        margin-top: 10px;
    }

    &.mt-0 {
        margin-top: 0;
    }

    > .form-item {
        grid-row: 1;
        grid-column-width: 1fr;
        margin-top: 0 !important;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 4px 12px;
        text-align: left;

        &.min {
            width: 1px;
            padding: 4px 8px;
        }

        &.title {
            width: auto !important;
        }
    }

    tbody tr {
        border-top: 1px solid rgba(255,255,255,0.15);
        cursor: pointer;

        &.active {
            background: rgba(85, 85, 142, 0.24);
        }
    }

    &.simple {
        color: #aaa;

        tbody tr:first-child {
            border-top: 0;
        }

        th, td {
            padding: 2px 8px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                text-align: right;
            }
        }
    }
}

.gem-color {
    &.color-m { color: #aaa; }
    &.color-b { color: #3b9ac7; }
    &.color-r { color: #f00; }
    &.color-y { color: #ff0; }
    &.color-o { color: #f80; }
    &.color-p { color: #f0f; }
    &.color-g { color: #0f0; }

    a { color: inherit; }
}

.quality {
    &-epic { color: #a335ee; a { color: inherit; } }
    &-rare { color: #0070dd; a { color: inherit; } }
    &-legendary { color: #ff8000; a { color: inherit; } }
    &-uncommon { color: #1eff00; a { color: inherit; } }
    &-common { color: #fff; a { color: inherit; } }
}

.loader {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 8px;
        border: 8px solid #08f;
        border-radius: 50%;
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #08f transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }

    &.small {
        width: 80px;
        height: 80px;

        div {
            width: 64px;
            height: 64px;
        }
    }
}

#app {
    .wrapper {
        display: grid;
        grid-template-columns: 220px auto;

        .sidebar {
            position: relative;
            background: rgba(0,0,0,0.8);
            padding: $spacer*0.5 $spacer*0.5 360px;

            .display-stats {
                position: absolute;
                left: $spacer*0.5;
                right: $spacer*0.5;
                bottom: 130px;
            }

            .ep-stats {
                margin-top: $spacer*0.5;
            }

            .result {
                margin-top: $spacer;
                text-align: center;

                .dps-result {
                    position: relative;

                    > div:nth-child(1) {
                        font-weight: 700;
                        color: #08f;
                    }
                    > div:nth-child(2) {
                        font-weight: 700;
                        font-size: 32px;
                    }
                    > div.faded {
                        color: #aaa;
                    }
                }

                .meta-warning {
                    .material-icons {
                        color: #fa0;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }

            .github {
                display: block;
                height: 86px;
                position: absolute;
                right: 0;
                left: 0;
                bottom: 40px;
                background: url("../img/GitHub-Mark-Light-64px.png") no-repeat center center;
                background-size: 32px auto;
            }

            .donate {
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;
                text-align: center;
            }
        }

        .main {
            position: relative;

            .tabs {
                padding: 10px 10px 0;
                user-select: none;

                .tab {
                    display: inline-block;
                    font-weight: 400;
                    line-height: 50px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    background: rgba(10,20,30,0.9);
                    padding: 0 30px;
                    margin-right: 5px;
                    opacity: 0.7;
                    cursor: pointer;

                    &.active {
                        font-weight: 700;
                        opacity: 1;
                    }
                }
            }

            .body {
                background: rgba(10,20,30,0.9);
                height: calc(100vh - 60px);
                overflow: auto;

                > .close {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    cursor: pointer;
                    text-align: center;
                }

                > div {
                    padding: $spacer*0.5;
                    animation: fade 0.2s ease;
                }

                .gear {
                    padding: 0;

                    .slots {
                        background: rgba(0,0,0,0.2);
                        padding: $spacer*0.5 $spacer $spacer*0.5 $spacer*0.5;

                        .slot {
                            display: inline-block;
                            font-weight: 700;
                            font-size: 16px;
                            margin-right: $spacer*0.5;
                            cursor: pointer;
                            color: rgba(255,255,255,0.5);
                            border-bottom: 2px solid transparent;
                            user-select: none;
                            transition: color 0.2s ease, border-color 0.2s ease;

                            &:hover {
                                color: #fff;
                            }

                            &.active {
                                color: #fff;
                                border-color: #fff;
                            }

                            @media all and (max-width: 1820px) {
                                margin-right: 20px;
                            }
                            @media all and (max-width: 1620px) {
                                margin-right: 15px;
                            }
                            @media all and (max-width: 1540px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .items {
                        max-height: calc(100vh - 146px);
                        overflow: auto;
                        box-sizing: border-box;

                        select,
                        input {
                            padding: 7px 8px;
                            background: rgba(0,0,0,0.3);
                        }

                        .search-gem {
                            input {
                                width: 300px;
                            }
                        }

                        .items-wrapper {
                            padding: $spacer*0.5;

                            > .top {
                                .form-item {
                                    float: left;
                                    margin: 0 $spacer*0.25 0 0;
                                }

                                input {
                                    width: 300px;
                                }
                            }
                        }

                        .socket-color {
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 25%;
                            vertical-align: middle;

                            &.color-m { background: #aaa; }
                            &.color-b { background: #3b9ac7; }
                            &.color-r { background: #f00; }
                            &.color-y { background: #ff0; }
                            &.color-o { background: #f80; }
                            &.color-p { background: #f0f; }
                            &.color-g { background: #0f0; }
                            &.color-a { background: #eee; }

                            &:nth-child(n+2) {
                                margin-left: 5px;
                            }

                            a { color: inherit; }
                        }

                        .socket-text-color {
                            display: inline-block;

                            &.color-m { color: #aaa; }
                            &.color-b { color: #3b9ac7; }
                            &.color-r { color: #f00; }
                            &.color-y { color: #ff0; }
                            &.color-o { color: #f80; }
                            &.color-p { color: #f0f; }
                            &.color-g { color: #0f0; }

                            &:nth-child(n+2) {
                                margin-left: 5px;
                            }

                            a { color: inherit; }
                        }

                        .compare {
                            cursor: pointer;

                            .help .material-icons {
                                color: #aaa;
                            }

                            &.active .help .material-icons {
                                color: #08f;
                            }

                            &.error .help .material-icons {
                                color: #f00;
                            }
                        }

                        .delete .material-icons {
                            cursor: pointer;
                            color: #f00;
                        }

                        tr.active .socket-bonus {
                            color: #bbe8ba;
                        }

                        .sockets {
                            @include clearfix();

                            .socket {
                                float: left;
                                width: 32%;

                                &:nth-child(n+2) {
                                    margin-left: 2%;
                                }
                            }
                        }

                        span.link {
                            color: #888;

                            &:hover {
                                color: #08f;
                            }
                        }

                        table {
                            th {
                                background: rgba(0,0,10,0.6);
                                font-weight: 500;
                                color: #ccd4ff;
                            }

                            th, td {
                                &:nth-child(n+4) {
                                    width: 7%;
                                    white-space: nowrap;
                                    text-align: center;
                                }
                            }

                            tbody tr {
                                border-top: 0;
                                border-bottom: 1px solid rgba(200,210,255,0.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .config {
        .fieldsets {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(5, 1fr);

            fieldset {
                grid-row: 1/3;
            }

            .config-rotation {
                grid-row: 1;
            }

            .config-debuffs {
                grid-row: 2;
            }

            .config-profiles {
                grid-column: 1/3;
                grid-row: 3;
            }
        }
    }

    .profiles {
        .profile {
            background: rgba(40,40,60,0.7);
            padding: 5px 10px;
            display: grid;
            grid-template-columns: auto min-content;

            &:nth-child(n+1) {
                margin-top: 10px;
            }

            > * {
                cursor: pointer;
            }

            .name {
                transition: color 0.2s ease;

                &:hover {
                    color: #08f;
                }
            }

            .actions {
                white-space: nowrap;

                > * {
                    display: inline-block;

                    .material-icons {
                        font-size: 16px;
                        transition: opacity 0.2s ease;
                    }

                    &:hover .material-icons {
                        opacity: 0.5;
                    }
                }
            }

            .save {
                color: #08f;
            }

            .delete {
                color: #f00;
            }
        }

        .new-profile {
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-gap: $spacer*0.25;
        }
    }

    .log {
        .log-wrapper {
            .filter {
                @include clearfix();
                margin-bottom: $spacer*0.5;

                .form-item {
                    float: left;
                    margin: 0 $spacer*0.5 0 0;
                }
            }
        }

        table {
            th, td {
                &:nth-child(-n+3) {
                    width: 1px;
                    white-space: nowrap;
                }
            }

            td {
                &:nth-child(1) {
                    color: #ccc;
                }
                &:nth-child(2) {
                    color: #08f;
                }
            }

            tr.type-4 td:nth-child(4) {
                color: #807fa2;
            }
            tr.type-5 td:nth-child(4) {
                color: #bbe8ba;
            }
            tr.type-6 td:nth-child(4) {
                color: #aaa;
            }
            tr.type-8 td:nth-child(4),
            tr.type-9 td:nth-child(4) {
                color: #b88;
            }
        }
    }

    .lightbox {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
        z-index: 200;
        animation: fade 0.4s ease forwards;

        > .inner {
            position: absolute;
            left: 10%;
            top: 10%;
            right: 10%;
            bottom: 10%;
            width: 80vw;
            background: #161620;
            padding: $spacer*0.5;
            box-sizing: border-box;
            overflow: auto;
            animation: moveInFromBelow 0.4s ease forwards;

            > .title {
                font-size: 18px;
                margin-bottom: $spacer*0.25;
                font-weight: 700;
            }

            > .description {
                margin-top: -$spacer*0.25;
                margin-bottom: $spacer*0.25;
            }

            textarea {
                height: 350px;
            }
        }

        &.small > .inner {
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            bottom: auto;
            max-width: 100%;
            width: 500px;
            margin: 10vh auto;
        }

        .close {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            line-height: 30px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
}

.notice {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 350px;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    animation: fade 0.4s ease forwards, moveInFromBelow 0.4s ease forwards;

    > .inner {
        background: #161620;
        padding: $spacer*0.5;
        text-align: center;

        .title {
            font-size: 24px;
            margin-bottom: $spacer*0.25;
            font-weight: 700;
        }

        .text {
            margin-bottom: $spacer*0.25;

            b {
                font-weight: 700;
            }
        }

        .checklist {
            font-size: 16px;
        }
    }
}

.checklist {
    text-align: left;

    .check-item {
        &.checked .material-icons {
            color: #0f0;
        }
        &.unchecked .material-icons {
            color: #f00;
        }
    }
}