@mixin clearfix() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin position-cover($pos) {
    position: $pos;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}