/**
 * Margins
 */
.m-auto, .mb-auto, .my-auto { margin-bottom: auto; }
.m-n, .mb-n, .my-n    { margin-bottom: 5px; }
.m-0, .mb-0, .my-0    { margin-bottom: 0; }
.m-1, .mb-1, .my-1    { margin-bottom: $spacer*0.25; }
.m-2, .mb-2, .my-2    { margin-bottom: $spacer*0.5; }
.m-3, .mb-3, .my-3    { margin-bottom: $spacer*0.75; }
.m-4, .mb-4, .my-4    { margin-bottom: $spacer*1; }
.m-5, .mb-5, .my-5    { margin-bottom: $spacer*1.25; }
.m-6, .mb-6, .my-6    { margin-bottom: $spacer*1.5; }
.m-8, .mb-8, .my-8    { margin-bottom: $spacer*2; }
.m-10, .mb-10, .my-10 { margin-bottom: $spacer*2.5; }
.m-12, .mb-12, .my-12 { margin-bottom: $spacer*3; }
.m-auto, .mt-auto, .my-auto { margin-top: auto; }
.m-n, .mt-n, .my-n    { margin-top: 5px; }
.m-0, .mt-0, .my-0    { margin-top: 0; }
.m-1, .mt-1, .my-1    { margin-top: $spacer*0.25; }
.m-2, .mt-2, .my-2    { margin-top: $spacer*0.5; }
.m-3, .mt-3, .my-3    { margin-top: $spacer*0.75; }
.m-4, .mt-4, .my-4    { margin-top: $spacer*1; }
.m-5, .mt-5, .my-5    { margin-top: $spacer*1.25; }
.m-6, .mt-6, .my-6    { margin-top: $spacer*1.5; }
.m-8, .mt-8, .my-8    { margin-top: $spacer*2; }
.m-10, .mt-10, .my-10 { margin-top: $spacer*2.5; }
.m-12, .mt-12, .my-12 { margin-top: $spacer*3; }
.m-auto, .ml-auto, .mx-auto { margin-left: auto; }
.m-n, .ml-n, .mx-n    { margin-left: 5px; }
.m-0, .ml-0, .mx-0    { margin-left: 0; }
.m-1, .ml-1, .mx-1    { margin-left: $spacer*0.25; }
.m-2, .ml-2, .mx-2    { margin-left: $spacer*0.5; }
.m-3, .ml-3, .mx-3    { margin-left: $spacer*0.75; }
.m-4, .ml-4, .mx-4    { margin-left: $spacer*1; }
.m-5, .ml-5, .mx-5    { margin-left: $spacer*1.25; }
.m-6, .ml-6, .mx-6    { margin-left: $spacer*1.5; }
.m-8, .ml-8, .mx-8    { margin-left: $spacer*2; }
.m-10, .ml-10, .mx-10 { margin-left: $spacer*2.5; }
.m-12, .ml-12, .mx-12 { margin-left: $spacer*3; }
.m-auto, .mr-auto, .mx-auto { margin-right: auto; }
.m-n, .mr-n, .mx-n    { margin-right: 5px; }
.m-0, .mr-0, .mx-0    { margin-right: 0; }
.m-1, .mr-1, .mx-1    { margin-right: $spacer*0.25; }
.m-2, .mr-2, .mx-2    { margin-right: $spacer*0.5; }
.m-3, .mr-3, .mx-3    { margin-right: $spacer*0.75; }
.m-4, .mr-4, .mx-4    { margin-right: $spacer*1; }
.m-5, .mr-5, .mx-5    { margin-right: $spacer*1.25; }
.m-6, .mr-6, .mx-6    { margin-right: $spacer*1.5; }
.m-8, .mr-8, .mx-8    { margin-right: $spacer*2; }
.m-10, .mr-10, .mx-10 { margin-right: $spacer*2.5; }
.m-12, .mr-12, .mx-12 { margin-right: $spacer*3; }

/**
 * Paddings
 */
.p-0, .pb-0, .py-0 { padding-bottom: 0; }
.p-n, .pb-n, .py-n { padding-bottom: 5px; }
.p-1, .pb-1, .py-1 { padding-bottom: $spacer*0.25; }
.p-2, .pb-2, .py-2 { padding-bottom: $spacer*0.5; }
.p-3, .pb-3, .py-3 { padding-bottom: $spacer*0.75; }
.p-4, .pb-4, .py-4 { padding-bottom: $spacer*1; }
.p-5, .pb-5, .py-5 { padding-bottom: $spacer*1.25; }
.p-6, .pb-6, .py-6 { padding-bottom: $spacer*1.5; }
.p-8, .pb-8, .py-8 { padding-bottom: $spacer*2; }
.p-10, .pb-10, .py-10 { padding-bottom: $spacer*2.5; }
.p-12, .pb-12, .py-12 { padding-bottom: $spacer*3; }
.p-0, .pt-0, .py-0 { padding-top: 0; }
.p-n, .pt-n, .py-n { padding-top: 5px; }
.p-1, .pt-1, .py-1 { padding-top: $spacer*0.25; }
.p-2, .pt-2, .py-2 { padding-top: $spacer*0.5; }
.p-3, .pt-3, .py-3 { padding-top: $spacer*0.75; }
.p-4, .pt-4, .py-4 { padding-top: $spacer*1; }
.p-5, .pt-5, .py-5 { padding-top: $spacer*1.25; }
.p-6, .pt-6, .py-6 { padding-top: $spacer*1.5; }
.p-8, .pt-8, .py-8 { padding-top: $spacer*2; }
.p-10, .pt-10, .py-10 { padding-top: $spacer*2.5; }
.p-12, .pt-12, .py-12 { padding-top: $spacer*3; }
.p-0, .pl-0, .px-0 { padding-left: 0; }
.p-n, .pl-n, .px-n { padding-left: 5px; }
.p-1, .pl-1, .px-1 { padding-left: $spacer*0.25; }
.p-2, .pl-2, .px-2 { padding-left: $spacer*0.5; }
.p-3, .pl-3, .px-3 { padding-left: $spacer*0.75; }
.p-4, .pl-4, .px-4 { padding-left: $spacer*1; }
.p-5, .pl-5, .px-5 { padding-left: $spacer*1.25; }
.p-6, .pl-6, .px-6 { padding-left: $spacer*1.5; }
.p-8, .pl-8, .px-8 { padding-left: $spacer*2; }
.p-10, .pl-10, .px-10 { padding-left: $spacer*2.5; }
.p-12, .pl-12, .px-12 { padding-left: $spacer*3; }
.p-0, .pr-0, .px-0 { padding-right: 0; }
.p-n, .pr-n, .px-n { padding-right: 5px; }
.p-1, .pr-1, .px-1 { padding-right: $spacer*0.25; }
.p-2, .pr-2, .px-2 { padding-right: $spacer*0.5; }
.p-3, .pr-3, .px-3 { padding-right: $spacer*0.75; }
.p-4, .pr-4, .px-4 { padding-right: $spacer*1; }
.p-5, .pr-5, .px-5 { padding-right: $spacer*1.25; }
.p-6, .pr-6, .px-6 { padding-right: $spacer*1.5; }
.p-8, .pr-8, .px-8 { padding-right: $spacer*2; }
.p-10, .pr-10, .px-10 { padding-right: $spacer*2.5; }
.p-12, .pr-12, .px-12 { padding-right: $spacer*3; }